<a href="https://colab.research.google.com/github/syed-irtiza7/SyedIrtiza_DTSC3020_Fall2025/blob/main/DTSC_3020_020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["apple", "banana", "orange"]
print("Fruits list:", fruits)
print("Each fruit:")
for fruit in fruits:
    print(fruit)

Fruits list: ['apple', 'banana', 'orange']
Each fruit:
apple
banana
orange

In [2]:
names = ["Ali", "Sara", "Omar", "Zara"]
names[0] = "Reza"  # change first name
print("Updated names list:", names)

Updated names list: ['Reza', 'Sara', 'Omar', 'Zara']

In [3]:
vehicles = ["car", "bus", "bike", "truck", "train"]
vehicles.append("scooter")  # add one more vehicle
print("Vehicles list:", vehicles)

Vehicles list: ['car', 'bus', 'bike', 'truck', 'train', 'scooter']

In [4]:
foods = ["pizza", "burger", "pasta", "rice", "salad", "tacos"]
foods.remove("pasta")  # remove one food
print("Foods list after removal:", foods)

Foods list after removal: ['pizza', 'burger', 'rice', 'salad', 'tacos']

In [5]:
cities = ["London", "New York", "Tokyo", "Paris"]
cities.sort()  # sort alphabetically
print("Sorted cities:", cities)
cities.reverse()  # reverse the list
print("Reversed cities:", cities)

Sorted cities: ['London', 'New York', 'Paris', 'Tokyo']
Reversed cities: ['Tokyo', 'Paris', 'New York', 'London']

In [6]:
animals = ["cat", "dog", "elephant"]
print("Animals:")
for animal in animals:
    print(animal)

Animals:
cat
dog
elephant

In [7]:
numbers = [1, 2, 3, 4, 5]
print("Numbers multiplied by 2:")
for num in numbers:
    print(num * 2)

Numbers multiplied by 2:
2
4
6
8
10

In [8]:
friends = ["Ahmed", "Bilal", "Cathy", "David", "Eman", "Fatima"]
print("First three friends:", friends[:3])
print("Last three friends:", friends[-3:])

First three friends: ['Ahmed', 'Bilal', 'Cathy']
Last three friends: ['David', 'Eman', 'Fatima']

In [9]:
nums = list(range(1, 11))
print("Numbers from 1 to 10:", nums)

Numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
squares = [x**2 for x in range(1, 6)]
print("Squares from 1 to 5:", squares)

Squares from 1 to 5: [1, 4, 9, 16, 25]